<p>demo-input-output works!</p>

<button (click)="changeColor()"></button>

{{resultatFromChildren}}

<app-alert color="{{color}}" (toto)="test($event)">
    <h1>text</h1>
    <p>paragraphe</p>
</app-alert>
<app-alert>
    
</app-alert>
