<form [formGroup]="fg">
    <input formControlName="Email"
           class="{{ fg.get('Email').dirty ? (fg.get('Email').valid ? 'success' : 'danger') : 'info' }}">
    <p>{{ fg.get('Email').errors | json }}</p>
    <p>{{ fg.get('Email').errors?.required | json }}</p>
    <p>{{ fg.get('Email').errors?.emailExists | json }}</p>
</form>